body {
    margin: 0;
    font-family: Arial;
    background-color: black;
}

/* Style for the list item container */
.list-item {
    display: flex;
    align-items: center;
}

/* Style for the image */
.list-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px; /* Add some spacing between the image and text */
}

/* Style for the multiline text field */
.list-item textarea {
    width: 400px;
    height: 100px;
}

.navbar {
    padding-bottom: 0.25rem;
    background-color: rgb(226, 29, 60);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
}

.logo-container {
    padding-left: 2rem;
    flex-grow: 2;
}

.logo {
    display: inline-block;
    width: 7rem;
    height: 3rem;
}

.navbar-ul {
    padding-bottom: 0.25rem;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.navbar-li {
    display: inline-block;
    list-style-type: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar-li:hover {
    transform: scale(1.05);
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.9);
}

.navbar-link {
    font-weight: bold;
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.button {
    display: inline-block;
    position: relative;
    color: white;
}

.button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.video-container {
    display: flex;
    padding-right: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
}


.history_nav-margin {
    margin-bottom: 2rem;
}

.history_card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: -1rem;
}

.history_card {
    position: relative;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin: 1rem;
    text-align: left;
    background-color: rgb(226, 29, 60);
    flex: 0 0 22.3333rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    will-change: transform;
    transform: scale(1);
    transition: transform 0.25s ease-in-out;
}

.history_card:hover {
    transform: scale(1.05);
}

.history_image {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.history_list {
    padding-left: 1rem;
    letter-spacing: 0.1rem;
    list-style-type: none;
}

.history_list > li {
    padding-bottom: 0.5rem;
}


.image_card {
    background-color: rgb(226, 29, 60);
}
